<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Formulário de cadastro de noticias</title>
    </head>
    
    <body>
        
        <h1>Adicionar Resp</h1>
        <form action="/noticias/salvar" method="post">
            <label>Título</label>
            <input type="text" id ="nome" name="nome" placeholder="Nome" />
            <br>
            
            <label>Notícia</label>
            <input type="text" id="cpfCnpj" name="cpfCnpj" placeholder="CPF/CNPJ" />
            
            <br>
            <input type="submit" value="Enviar" />

        </form>

    </body>

</html>