<html>

    <h1>Responsável Financeiro</h1>
    
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
        </tr>
        
        <tr>
            <td><%= noticia[0].brf_id %></td>
            <td><%= noticia[0].brf_nome %></td>
        </tr>
        
    </table>
</html>